<br>
<p>
    <a asp-action="test">New Route</a>
</p>
<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }

        .form-group {
            display: inline-block;
        }
    </style>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <div class="form-group">
        <select name="bus" id="bus" class="selectpicker" data-width="100px">
            <option value="1" id="bus1">Bus 1</option>
            <option value="2" id="bus2">Bus 2</option>
            <option value="3" id="bus3">Bus 3</option>
            <option value="4" id="bus4">Bus 4</option>
            <option value="5" id="bus5">Bus 5</option>
            <option value="6" id="bus6">Bus 6</option>
            <option value="7" id="bus7">Bus 7</option>
        </select>
    </div>
    <div class="form-group">
        <input type="button" id="submit" value="Submit" class="btn btn-default" onclick="click" />
    </div>
    <div id="map"></div>
    <div id="directions-panel"></div>
    <script>
        var dbRef = firebase.database().ref().child('Routes');
        var i = 0;

        function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            latlng = { lat: 33.6500053, lng: 73.1556737 };

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: latlng
            });
            directionsDisplay.setMap(map);

            $("#bus").change(function () {
            var selectedvalue = $(this).val();
            console.log(selectedvalue);
            busnumber = selectedvalue;

            dbRef.once('value', function (snapshot) {
                var data = snapshot;
                console.log(data.val());
                fuel = data;
                fuel.forEach(function (routeData) {
                    if (routeData.val().busnumber = busnumber){
                        source = routeData.val().source;
                        console.log(source);
                        destination = routeData.val().destination;
                        routeNumber = routeData.val().routeNumber;
                        waypoints = routeData.val().waypoints;
                        waypoints[i] = routeData.val().waypoints;
                        console.log(waypoints[i]);

                        document.getElementById('submit').addEventListener('click', function () {
                            console.log(waypoints[i]);
                            console.log(destination + " << inside method");

                            directionsService.route({
                                origin: source,
                                destination: destination,
                                waypoints: waypoints[i],
                                optimizeWaypoints: true,
                                travelMode: 'DRIVING'
                            }, function (response, status) {
                                if (status === 'OK') {
                                    directionsDisplay.setDirections(response);
                                    var route = response.routes[0];
                                } else {
                                    window.alert('Directions request failed due to ' + status);
                                    }
                                });
                            });
                        }
                    });
                });
            });                        
        }
    </script>

    <script async defer 
            src="https://maps.googleapis.com/maps/api/js?key=MYAPIKEY&callback=initMap">
    </script>
</body>
</html>
