<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-select.min.css" />

</head>

<body>
    <pre id="object"></pre>
    <ul id="list"></ul>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>

    @*<script>
         //Initialize Firebase
        var config = {
            apiKey: "AIzaSyDJKWHkRz5w0a0OQ8EJI1woyrzv2Y8sSxE",
            authDomain: "final-year-project-188517.firebaseapp.com",
            databaseURL: "https://final-year-project-188517.firebaseio.com",
            projectId: "final-year-project-188517",
            storageBucket: "final-year-project-188517.appspot.com",
            messagingSenderId: "414362957154"
        };
        firebase.initializeApp(config);


        // Get elements
        var object = document.getElementById('object');
        var list = document.getElementById('list');

        // Create Reference

        var dbRef = firebase.database().ref().child('Driver');
        //var dbList = dbRef.child('yIIYu6SFObWBur1XV5JOAjliO3A3');
        //   var dbRef = firebase.database().ref("object");


        //Sync object changes
        //dbRef.on('value', snap =>
        //    $('#contacts').append(contactHtmlFromObject(JSON.stringify(snap.val())))
        //);

        dbRef.once('value', function (snapshot) {
            snapshot.forEach(function (childSnapshot) {
                //var childKey = childSnapshot.key;
                //var childData = childSnapshot.val();
                // ...
                //console.log(childSnapshot.val().busnumber);
                $('#contacts').append(contactHtmlFromObject(childSnapshot.val()));
            });
        });

        //prepare conatct object's HTML
        function contactHtmlFromObject(contact) {

            console.log(contact.busnumber)
           
            
            var html = '';
            html += '<li class="list-group-item contact">';
            html += '<div>';
            html += '<p class="lead">' + contact.busnumber + '</p>';
            html += '<p>' + contact.username + '</p>';
            html += '<p>' + contact.email + '</p>';
            html += '<p>' + contact.phonenumber + '</p>';
            html += '</div>';
            html += '</li>';
            return html;
        }

        /* dbRef.on('value', snap => object.innerText = snap.val());
         dbRef.on('value', snap => console.log(snap.val()));
         */

        //Sync List changes
        //dbList.on('child_added', snap => {
        //    var li = document.createElement('li');
        //    li.innerText = snap.val();
        //    li.id = snap.key;
        //    list.appendChild(li);
        //});

        //dbList.on('child_changed', snap => {

        //    var liChanged = document.getElementById(snap.key);
        //    liChanged.innerText = snap.val();
        //});

        //dbList.on('child_removed', snap => {
        //    var liRemoved = document.getElementById(snap.key);
        //    liRemoved.remove();
        //});


    </script>*@

    <div id="contacts">

    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AdminAppCore</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Drivers" asp-action="Details">Drivers</a></li>
                    <li><a asp-area="" asp-controller="Students" asp-action="Details">Students</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Maps</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - AdminApp</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @*    <script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
       
    </environment>

    <script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>

