@model testing.Models.AdminManageModels.Driver

@{
    ViewData["Title"] = "Create";
}



<h2>Create</h2>

<h4>Driver</h4>
<hr />

<script src="~/js/site.js"></script>
<ul id="list"></ul>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="myform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name"  class="control-label"></label>
                <input asp-for="Name" id="name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" id="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" id="ph" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BusNumber" class="control-label"></label>
                <input asp-for="BusNumber" id="bus" class="form-control" />
                <span asp-validation-for="BusNumber" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <input type="submit" id="submit" value="Create" class="btn btn-default" onclick="click" />
            </div>

        </form>

        <script>
            // Get elements
            var myform = document.getElementById('myform');

            // Create Reference
            var dbRef = firebase.database().ref().child('Driver');

            dbRef.on('value', snap => console.log(snap.val()));

            document.getElementById('submit')
                .addEventListener("click", function (event) {
                    event.preventDefault();
                    if (document.querySelector('#name').value != ''
                        || document.querySelector('#email').value != '') {
                        dbRef.push({

                            busnumber: document.querySelector('#bus').value,
                            email: document.querySelector('#email').value,
                            password: document.querySelector('#password').value,
                            phonenumber: document.querySelector('#ph').value,
                            name: document.querySelector('#name').value
                           });
                        myform.reset();
                    } else {
                        alert('Please fill atlease name or email!');
                    }
                }, false);
        </script>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
