@model testing.Models.AdminManageModels.Driver

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Driver</h4>
    <hr />
    
    <div>
        <script>
            var remove = function(e){
            e.preventDefault();
            e.stopPropogation();
            var key = $(this).data('key');
            if(confirm('Are you sure?')){
                firebase.database().ref('Driver').child(key).remove();
            }
         }
        $(document).on('click', '.btn-remove-key', remove);

        </script>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <button type="button" class="btn-remove-key" data-key="-dsdsf-sample-key">Delete</button>
        <a asp-action="Index">Back to List</a>
    </form>
</div>
