@model IEnumerable<testing.Models.AdminManageModels.Driver>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="">
    <table class="table">
        <thead>
            <tr>
                <th>Bus Number</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Remove</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody id="detailsdata"></tbody>
    </table>
</div>

<script src="~/js/site.js"></script>

<script>

    // Create Reference

    var dbRef = firebase.database().ref().child('Driver');

    dbRef.once('value', function (snapshot) {
      
        snapshot.forEach(function (childSnapshot) {
           
            console.log(childSnapshot.key);
            console.log(childSnapshot.val());

            $('#detailsdata').append(contactHtmlFromObject(childSnapshot.key, childSnapshot.val()));
           
        });
    });

    function del(key) {
        
        dbRef.child(key).remove();
        location.reload();
    }

    function edit(key) {

        window.location.href = 'edit?id=' + key;
        console.log(window.location.href);
    }

    //prepare conatct object' HTML
    function contactHtmlFromObject(key, contact) {

        var ourKey = key;
        console.log(ourKey);

        console.log(window.location.href);
        var html = '<tr>';
        html += '<td>' + contact.busnumber + '</td>';
        html += '<td>' + contact.username + '</td>';
        html += '<td>' + contact.email + '</td>';
        html += '<td>' + contact.phonenumber + '</td>';
        html += '<td><button type="button" class="btn btn-default" onClick="del(\'' + ourKey + '\')">Delete</button></td>';
        html += '<td><button type="button" class="btn btn-default" onClick="edit(\'' + ourKey + '\')">Edit</button></td>';
        html += '</tr>';
        return html;
    }

</script>