@model testing.Models.AdminManageModels.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<h2>Details</h2>
<div id="">


    <table class="table">
        <thead>
            <tr>
                <th>Bus Number</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody id="detailsdata"></tbody>
    </table>
</div>

@*<script src="~/js/site.js"></script>*@

<script>
    //Initialize Firebase
    var config = {
        apiKey: "AIzaSyDJKWHkRz5w0a0OQ8EJI1woyrzv2Y8sSxE",
        authDomain: "final-year-project-188517.firebaseapp.com",
        databaseURL: "https://final-year-project-188517.firebaseio.com",
        projectId: "final-year-project-188517",
        storageBucket: "final-year-project-188517.appspot.com",
        messagingSenderId: "414362957154"
    };
    firebase.initializeApp(config);


    // Get elements
    var object = document.getElementById('object');
    var list = document.getElementById('list');

    // Create Reference

    var dbRef = firebase.database().ref().child('Student');
    //var dbList = dbRef.child('yIIYu6SFObWBur1XV5JOAjliO3A3');
    //   var dbRef = firebase.database().ref("object");


    //Sync object changes
    //dbRef.on('value', snap =>
    //    $('#contacts').append(contactHtmlFromObject(JSON.stringify(snap.val())))
    //);

    dbRef.once('value', function (snapshot) {
        snapshot.forEach(function (childSnapshot) {
            //var childKey = childSnapshot.key;
            //var childData = childSnapshot.val();
            // ...
            console.log(childSnapshot.key);




            $('#detailsdata').append(contactHtmlFromObject(childSnapshot.key, childSnapshot.val()));
            

        });
    });

    function del(key) {
        //alert('key');

        //return false;
        //console.log(key);
        dbRef.child(key).remove();
        location.reload();
    }
    //prepare conatct object' HTML
    function contactHtmlFromObject(key, contact) {

        //console.log(contact.busnumber)

        var ourKey = key;
        console.log(ourKey);


        var html = '<tr>';
        html += '<td>' + contact.busnumber + '</td>';
        html += '<td>' + contact.username + '</td>';
        html += '<td>' + contact.email + '</td>';
        html += '<td>' + contact.phonenumber + '</td>';
        html += '<td><button type="button" onClick="del(\''+ourKey+'\')">Delete</button></td>';
        html += '</tr>';
        return html;
    }

       
</script>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
