@model testing.Models.AdminManageModels.Student

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Student</h4>
<hr />

<script src="~/js/site.js"></script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <label asp-for="RegNo" class="control-label"></label>
            <div class="form-group">
                <div class="col-lg-4">
                    <input asp-for="year" type="text" maxlength="4" id="year" class="form-control" readonly/>
                </div>
                <div class="col-lg-4">
                    <input asp-for="program" type="text" maxlength="3" id="program" class="form-control" readonly/>
                </div>
                <div class="col-lg-4">
                    <input asp-for="RegNo" type="text" maxlength="3" id="RegNo" class="form-control" readonly/>
                </div>

            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" id="name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" id="ph" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusNumber" class="control-label"></label>
                <input asp-for="BusNumber" id="bus" class="form-control" />
                <span asp-validation-for="BusNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="submit" value="Save" class="btn btn-default" onclick="click" />
            </div>
        </form>
    </div>
</div>

<script>

    document.getElementById('submit')
        .addEventListener("click", function writeUserData(name, email, bus, ph, year, program, regno) {
            var dbRef = firebase.database().ref().child('Student');
            var key = location.href.split("id=")[1];
            
            year = document.getElementById("year").options[1].text;
            console.log(year);
           
            program = document.getElementById("program").value;
            regno = document.getElementById("RegNo").value;
            name = document.getElementById("name").value;
            email = document.getElementById("email").value;
            bus = document.getElementById("bus").value;
            ph = document.getElementById("ph").value;
            var dataUpdate = {};
            dataUpdate.year = year;
            dataUpdate.program = program;
            dataUpdate.regno = regno;
            dataUpdate.username = name;
            dataUpdate.email = email;
            dataUpdate.busnumber = bus;
            dataUpdate.phonenumber = ph;
            dbRef.child(key).set(dataUpdate);
        }, false)

    var dbRef = firebase.database().ref().child('Student');
    dbRef.once('value', function (snapshot) {
        var data = snapshot.val();
       // console.log(data);
        var dataArray = [];
        for (var key in data) {
            data[key].key = key;
            dataArray.push(data[key]);
        };
       // console.log(dataArray);

        //var key = gup('key', window.location.href);
        var x = document.getElementById("email");
        var mykey = location.href.split("id=")[1];
        $(document).ready(function () {
            for (var i = 0; i < dataArray.length; i++) {

                if (dataArray[i].key == mykey) {
                    //   console.log(dataArray[i].email);
                    email.val = dataArray[i].email;
                    var a = document.querySelector('#email');
                    //   console.log(a);
                    $("#email").attr("value", dataArray[i].email);
                    $("#name").attr("value", dataArray[i].username);
                    $("#ph").attr("value", dataArray[i].phonenumber);
                    $("#bus").attr("value", dataArray[i].busnumber);
                    $("#RegNo").attr("value", dataArray[i].regno);
                    $("#program").attr("value", dataArray[i].program);
                    $("#year").attr("value", dataArray[i].year);
                }

            }
        })
        snapshot.forEach(function (childSnapshot) {
            var key = gup('key', window.location.href)

            if (childSnapshot.key == key) {
             //   console.log(childSnapshot.val());
            }


        });
    });

            function contactHtmlFromObject(key, contact) {
                
                var ourKey = key;
             //   console.log(ourKey);
            }

            function gup(name, url) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regexS = "[\\?&]" + name + "=([^&#]*)";
                var regex = new RegExp(regexS);
                var results = regex.exec(url);
                return results == null ? null : results[1];
            }
</script>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
