@model testing.Models.AdminManageModels.Student
@{
    ViewData["Title"] = "Feedback";
}
<h2>Feedback</h2>
<script src="~/js/site.js"></script>
<div>

    <table id="table" class="table">
        <thead>
            <tr>
                <th>Driver Name</th>

                <th>Student Name</th>
            
                <th>Feedback</th>
           
                <th>Ratings</th>
          
            </tr>
                
        </thead>
        <tbody id="detailsdata"></tbody>
    </table>
</div>

<script src="~/js/site.js"></script>
<script>
    
    var studentData;
    var feedbackData;
    var driverData;

    // Create Reference
    var dbRef = firebase.database().ref().child('Feedback');
    var dbRef1 = firebase.database().ref().child('Student');
    var dbRef2 = firebase.database().ref().child('Driver');
    
    dbRef.once('value', function (snapshot) {
    //feedback
        var data = snapshot;
        console.log(data.val());
        feedbackData = data;


        dbRef1.once('value', function (snapshot) {
            // Student
            var data = snapshot;
            console.log(data);
            studentData = data;
       

        dbRef2.once('value', function (snapshot) {
            // Driver
            var data = snapshot;
            console.log(data);
            driverData = data;

            feedbackData.forEach(function (feedback) {
                studentData.forEach(function (student) {
                    driverData.forEach(function (driver) {
                        if (feedback.val().studentid == student.key && feedback.val().driverid == driver.key) {
                        console.log(feedback.key);
                        console.log(student.key);
                        $('#detailsdata').append(contactHtmlFromObject(feedback.val(), student.val(), driver.val()));
                    }
                    });
                });

            });

            });

        });
       
    });

    //console.log(dataArrayFeedback);

    function del(key) {

        dbRef.child(key).remove();
        location.reload();
    }

    function contactHtmlFromObject( contact,student,driver) {
        
       

        var html = '<tr>';

        html += '<td>' + driver.username + '</td>';
        html += '<td>' + student.username + '</td>';
        html += '<td>' + contact.feedback + '</td>';
        html += '<td>' + contact.rating + '</td>';
        html += '</tr>';
        return html;
    }

</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
