<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<body>
    <div id="map" class="map"></div>
    <div id="content">
        Hello world!
    </div>
    <div id="map_wrapper">
        <div id="map_canvas" class="mapping"></div>
    </div>

    @*<div class="top-bar">
        <span class="io-bus-tracker">CIIT Bus Tracker</span>
        <span id="display-time" class="display-time"></span>
        <span class="google-maps-apis"></span>
    </div>*@

    <script src="~/js/test.js"></script>
    <script src="~/js/site.js"></script>


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_fid6iFJzC3VlxWjySLP6xquRVwdvzZM&libraries=visualization&callback=drivers">
    </script>

</body>
</html>